/* -------------------ROOT-------------------*/
:root {
    --white: white;
    --grey: #9F9F9F;
    --black: black;
    --myBlueLight: #2F7493; 
    --myBlueDark: #0F3A43;
    --dot-dark-dark-blue: #121C2F; 
    --dot-dark-blue: #2F7493;
    --dot-light-blue: #51AFDB;
    --dot-olive: #77774B;
    --dot-cream: #E7E7C6;
    --dot-grey: #9E998F;
    --dot-purple: #552A52;
    --dot-green: #95BC9D;
    --dot-aqua: #6BB2A3;
    --dot-orange: #F5B366;
    --dot-peach: #E89279;
}


/* -------------------MAIN-------------------*/
body{
    background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(6,25,29,1) 77%, rgba(19,85,99,1) 92%, rgba(34,150,175,1) 100%) !important;
    color: var(--white);
}

a:hover{
    color: var(--myBlueLight);
}

/* -------------------NAVBAR-------------------*/

/* NAVMAIN */
nav{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 58%, rgba(0,0,0,0.8057598039215687) 100%);
}

nav a{
    color: var(--white);
}


/* NAV DROPDOWN */
nav .drop-down{
    background-color: black;
    opacity: 70%;
}

/* -------------------SIDENAV-------------------*/

#sidenav{
    background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(6,25,29,1) 77%, rgba(19,85,99,1) 92%, rgba(34,150,175,1) 100%) !important;

}

/* -------------------BODY-------------------*/

body{
    background: linear-gradient(black), var(--myBlueLight);
}


/* -------------------HOME-------------------*/
.photo-gallery{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 21%, rgba(0,0,0,0) 100%);
}

.product-row a:hover {
    background: linear-gradient(#000000, #29769d);
    color: var(--white);
}   


/* -------------------PRODUCT PAGE-------------------*/

/* BREADCRUMBS */
.previous-page{
    color: var(--grey);
}

/* FILTER DOTS */

.dot-dark-blue{
    background-color: var(--dot-dark-blue);
}

.dot-light-blue{
    background-color: var(--dot-light-blue);
}

.dot-olive{
    background-color: var(--dot-olive);
}

.dot-cream{
    background-color: var(--dot-cream);
}

.dot-grey{
    background-color: var(--dot-grey);
}

.dot-purple{
    background-color: var(--dot-purple);
}

.dot-green{
    background-color: var(--dot-green);
}

.dot-aqua{
    background-color: var(--dot-aqua);
}

.dot-orange{
    background-color: var(--dot-orange);
}

.dot-peach{
    background-color: var(--dot-peach);
}

.dot-white{
    background-color: var(--white);
}


/* PHOTO GALLERY */

.product-gallery{
    background: var(--black);
}

.product-gallery:hover {
    background: linear-gradient(#000000, #29769d);
    color: var(--white);
}  

/* SOLD OUT */

.sold-out{
    /* background: var(--myBlueLight); */
    opacity: 32%;
}

.product-brand{
    color: var(--grey);
}


/* -------------------ADD TO CART-------------------*/
.add-to-cart{
    background-color: black;
}

.cart-add-brand{
    color: var(--grey);
}

.dot-dark-dark-blue{
    background-color: var(--dot-dark-dark-blue);
    border: 2px solid white;
}

.cart-add-buttons a:hover{
    background: linear-gradient(#000000, #29769d);
    color: var(--white);
}

/* -------------------FOOTER-------------------*/


.footer{
    background-color: black;
}