/* -------------------ROOT-------------------*/
:root {
    --white: white;
    --grey: #9F9F9F;
    --black: black;
    --myBlueLight: #2F7493; 
    --myBlueDark: #0F3A43; 
}

/* -------------------MAIN-------------------*/
body{
    background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(6,25,29,1) 77%, rgba(19,85,99,1) 92%, rgba(34,150,175,1) 100%) !important;
    color: var(--white);
}

a:hover{
    color: var(--myBlueLight);
}

/* -------------------NAVBAR-------------------*/

/* NAVMAIN */
nav{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 58%, rgba(0,0,0,0.8057598039215687) 100%);
}

nav a{
    color: var(--white);
}


/* NAV DROPDOWN */
nav .drop-down{
    background-color: black;
    opacity: 70%;
}

/* -------------------SIDENAV-------------------*/

#sidenav{
    background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(6,25,29,1) 77%, rgba(19,85,99,1) 92%, rgba(34,150,175,1) 100%) !important;

}

/* -------------------BODY-------------------*/

body{
    background: linear-gradient(black), var(--myBlueLight);
}


/* -------------------HOME-------------------*/
.photo-gallery{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 21%, rgba(0,0,0,0) 100%);
}

.product-row a:hover {
    background: linear-gradient(#000000, #29769d);
    color: var(--white);
}   


/* -------------------PRODUCT PAGE-------------------*/

/* BREADCRUMBS */
.previous-page{
    color: var(--grey);
}

/* PHOTO GALLERY */
.product-gallery:hover {
    background: linear-gradient(#000000, #29769d);
    color: var(--white);
}  

.product-brand{
    color: var(--grey);
}

/* -------------------FOOTER-------------------*/

.footer{
    background-color: black;
}