/* -------------------MAIN-------------------*/
/* BOX MODEL FIX */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* ROOT */


/* MAIN CONTENT */



/* -------------------NAVIGATION BAR------------------- */
/* NAV BAR LAYOUT */

nav {
    position: fixed;
    height: 20%;
    max-height: 40%;
    max-width: 100%;
    z-index: 1;
    padding: 1em;

}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-nav ul{
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.top-nav a {
    margin-right: 30px;
}

/* DROP DOWN CATEGORIES MENU */

.dropdown-categories > ul{
    width: 100%;
    display: inline-flex;
    flex-direction: row; 
    justify-content: center;
    position: absolute;
    top: 85px;
}

.dropdown-categories li{
    margin: 25px;
}

/* MENU ICON */

.hamburger {
    
}

/* LOGO */

.logo {
    max-width: 35%;
    position: relative;
    align-self: center;
    padding: none;
    margin-left: 70px;
}

/* ICONS */

nav ion-icon{
    position: absolute;
    justify-content: center;
    margin-top: 2px;
}

/* SEARCH ICON */


/* CART ICON */


/* DROP DOWN ICON*/

    

/* -------------------SIDE NAV------------------- */

#sidenav{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 40%;
    height: 100%;
    padding-top: 20px;
    padding-left: 40px;
}

#sidenav li{
    margin-bottom: 10px;
}

#sidenav hr{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
}

#sidenav .shop-dropdown{
    margin-left: 5px;
    margin-top: 10px;
}

#sidenav .shop-dropdown ion-icon{
    position: relative;
    size: 30px;
    margin-right: 10px;
}

.cluster-one {
    margin-bottom: 40px;
}

.cluster-two{
    margin-bottom: 40px;
}

.sidenav-search hr{
    margin-top: 20px;
}


/* TEXT LAYOUT */


/* CONTENT LAYOUT */


/* CLOSE BUTTON LAYOUT */


/* MINIMISE BUTTON LAYOUT */


/* SEARCH BUTTON LAYOUT */


/* DIVIDING LINES LAYOUT */


/* -------------------HOMEPAGE------------------- */
/* BANNER IMAGE */

.welcome-image img{
    position: relative;
    max-width: 100%;
    margin-top: 10.5%;
    text-align: center;
    z-index: 0;
}

/* SCROLL GALLERIES */

.photo-gallery{
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: none;
    z-index: 1;
}

.img-scroll {    
    display: flex;
    flex-direction: row;
    position: relative;
}

.img-scroll img {
    width: 100px;
    min-width: 30%;
}

.img-scroll:not(:last-child){
    margin-bottom: 80px;
}

.img-scroll h2{
    position: sticky;
    margin-left: 3vh;
    margin-right: 200px;
    text-align: left;
    align-items: flex-end;
    width: 55%;
}

.product-row {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.product-row a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12vw;
    border: 1px solid #ffffff;
    margin-right: 20px;
    overflow: hidden;
}

.product-row span{
    margin-top: 20px;
}

.product-row ion-icon{
    position: absolute;
}


/* -------------------PRODUCT PAGE------------------- */
/* BREADCRUMBS */

.breadcrumbs {
    color: green;
    display: flex;
}

/* FILTER & PRODUCT CONTAINER */
.flex-container{
    display: flex;
    flex-direction: row;
}

/* FILTERS */
.filter-colours li img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* PHOTO GALLERY GRID */

/* LOAD MORE */


/* -------------------PRODUCT PAGE------------------- */
/* BREADCRUMBS */

/* PHOTO GALLERY MAIN*/

/* PHOTOGALLERY SCROLL */

/* DESCRIPTION & DETAILS */

/* FEATURES */

/* PRODUCT INFORMATION MAIN */

/* PRODUCT COLOUR OPTIONS */

/* ACTION BUTTONS CLUSTER STACK */


/* -------------------ADD TO CART ANNOUNCEMENT------------------- */


/* HEADER */

/* EXIT ICON */

/* PRODUCT INFORMATION */

/* PRODUCT IMAGE */

/* QUANTITY BOX */

/* ACTION BUTTONS CLUSTER */


/* -------------------SHOPPING CART------------------- */
/* -----SCROLL STACK----- */

/* CART TITLE */

/* PRODUCT IMAGES */

/* PRODUCT INFORMATION */

/* PRODUCT COLOUR */

/* BIN ICON */

/* QUANTITY */

/* -----SUMMARY CENTERED STACK----- */

/* SUBTOTAL TITLE */

/* ACTION BUTTONS */


/* -------------------SHOPPING CART------------------- */
/* -----CHECKOUT STACK----- */

/* SHIPT TO */

/* SHOPPING */

/* PAYMENT METHOD */

/* CONFIRM PAYMENT BUTTON */

/* -----CART SUMMARY STACK----- */

/* TITLE */

.text-center {}

/* PRODUCT IMAGES */

/* PRODUCT INFORMATION */

.text-left {}

/* PRODUCT PRICE */

.text-right {}

/* END INFORMATION */

/* -------------------FOOTER------------------- */
footer {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15em;
    padding: 2em;
    margin-left: 0;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h3{
    margin-bottom: 20px;
}

footer li{
    margin-bottom: 5px;
}

footer ion-icon{
    
}

/* -----LEFT STACK----- */

/* EMAIL INPUT */

/* SOCIALS CLUSTER */

/* -----ABOUT STACK----- */


/* -----POLICY STACK----- */

/* -----RIGHT STACK - BUSINESS INFORMATION----- */