/* body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(#000000, #29769d);
    width: 100vw;
} */

/* .logo{
    height:200px;
} */

/* nav { 
    position: fixed;
    height: 6.5rem;
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    vertical-align: middle;
    box-shadow:  15px 15px 46px #000000,
    -15px -15px 46px #000000;
    z-index: 2;
    width:100vw;
}

#main-container {
    position: relative;
    text-align: center;
    color: white;
  }

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 100px;
} */

/* .bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 100px;
} */

.main-container{
    display: flex;
    position: relative;
    padding: 1rem;
}

header{
    height: 100vh;
}
