:root {
    --colour-primary: #394149;
    --colour-secondary: white;
    --colour-accent: #D25913;
    --font-primary: 'Raleway', sans-serif;
    --text-base-size: 1rem;

    --text-scale-ratio: 1.2;
    --text-xxl: 4rem;
    --text-xl: 3rem;
    --text-lg: 2rem;
    --text-md: 1.4rem;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
    color: var(--colour-primary);
    margin-left: 2em;
    margin-right: 2em;
}

ul {
    list-style: none;
  }

nav {
    margin-top: 1em;
    font-size: var(--text-md);
    position: relative;
}

.nav-link{
    text-decoration: none;
}

.nav__left{
    align-items: left;
    padding: none;
}

.nav__right{
    align-items: right;
}

.nav > .categories__dropdown{
    left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}


h1 {
    font-size: var(--text-xxl);
    font-weight: 700;
}

h2 {
    font-size: var(--text-xl);
}

h3 {
    font-size: var(--text-lg);
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    width: 10rem;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.cluster>* {
    margin: 0.5rem;
}