/* -------------------ROOT & MAIN------------------- */
:root {
    --primary-font: "Helvetica", sans-serif;
    --secondary-font: "Helvetica Neue", sans-serif;

    --xxl-text: 4.5rem;
    --xl-text: 3.0rem;
    --l-text: 1.9rem;
    --regular-text: 1.24rem;
    --small-text: 0.8em;
}

body {
    font-family: var(--primary-font);
    color; var(--white)
}

a{
    text-decoration: none;
    color: var(--white);
}

/* -------------------HEADER PRESETS------------------- */

/* HEADING */
h1 {
    font-family: var(--primary-font);
    font-size: var(--xl-text);
}

/* SUB-HEADING */

h2 {
    font-family: var(--primary-font);
    font-size: var(--l-text);
}

/* PRODUCT NAMES */

h3 {
    font-family: var(--primary-font);
    font-size: var(--l-text);
}

/* HYPERLINKS & TEXT */

p{
    font-family: var(--primary-font); 
    font-size: var(--regular-text);   
}

a{
    font-family: var(--primary-font);
    font-size: var(--regular-text);
}

li{
    font-family: var(--primary-font);
    font-size: var(--small-text);
}

span{
    font-family: var(--primary-font);
    font-size: var(--small-text);
}

/* -------------------NAVBAR------------------- */


nav a{
    text-decoration: none;
    font-size: var(--regular-text)
}

/* -------------------FOOTER------------------- */

footer ul{
    font-size: var(--regular-text);
}