/* -------------------ROOT & MAIN------------------- */
:root {
    --primary-font: "Helvetica", sans-serif;
    --secondary-font: "Helvetica Neue", sans-serif;

    --xxl-text: 220%;
    --xl-text: 200%;
    --l-text: 160%;
    --nav-text: 140%;
    --regular-text: 120%;
    --small-text: 110%;
    --xs-text: 100%;
    --xxs-text: 80%;
}

body {
    font-family: var(--primary-font);
    color: var(--white)
}

a{
    text-decoration: none;
    color: var(--white);
}

/* -------------------HEADER PRESETS------------------- */

/* HEADING */
h1 {
    font-family: var(--primary-font);
    font-size: var(--xxl-text);
}

/* SUB-HEADING */

h2 {
    font-family: var(--primary-font);
    font-size: var(--xl-text);
}

/* PRODUCT NAMES */

h3 {
    font-family: var(--primary-font);
    font-size: var(--l-text);
}

/* HYPERLINKS & TEXT */

p{
    font-family: var(--primary-font); 
    font-size: var(--regular-text);   
}

a{
    font-family: var(--primary-font);
    font-size: var(--regular-text);
}

li{
    font-family: var(--primary-font);
    font-size: var(--small-text);
}

span{
    font-family: var(--primary-font);
    font-size: var(--small-text);
}

/* -------------------NAVBAR------------------- */


nav a{
    text-decoration: none;
    font-size: var(--regular-text)
}

/* -------------------SIDENAV------------------- */

#sidenav a{
    font-size: var(--nav-text)
}

#sidenav span{
    font-size: var(--nav-text);
}

#sidenav .shop-dropdown a{
    font-size: var(--regular-text);
}

/* -------------------PRODUCT PAGE------------------- */


.product-brand{
    font-size: var(--xs-text);
}

.product-name{
    font-size: var(--small-text);
}

.product-price{
    font-size: var(--small-text);
}

.sold-out-text{
    font-size: var(--regular-text);
}

/* -------------------FOOTER------------------- */

footer ul{
    font-size: var(--regular-text);
}

footer a{
    font-size: var(--xxs-text) !important;
}

.footer-right{
    font-size: var(--xxs-text) !important;
}